@use "sass:math";
@import "fonts";
@import "libs";
@import "vars";
@import "kit/button.scss";
@import "func";

* {
	box-sizing: border-box;
	// outline: 1px solid tomato;
}
.fixed {
	position: fixed;
}
html {
	min-width: $media_mobile;
	overflow-x: hidden;
	// font-size: calc(100vw / 1440 * 10);
	font-size: $baseFontSize + px;
	@media screen and (max-width: $media_desktop) {
		font-size: 18px;
	}
	@media screen and (max-width: $media_laptop) {
	}
	@media screen and (max-width: $media_table) {
	}
}
ul {
	padding: 0;
}
a {
	color: $text;
	text-decoration: none;
}
a,
button {
	// white-space nowrap;
}

svg.icon {
	width: 16px;
	fill: $accent;
}

body {
	color: $text;
	font-family: "Rubik", Arial, Helvetica, sans-serif;
	font-size: rem(1.6);
	width: 100%;
	font-weight: 500;
	font-style: normal;
	overflow-x: hidden;
}
.img-responsive {
	max-width: 100%;
	object-fit: cover;
	object-position: center;
	height: 100%;
}
.wrapper {
}
[class*="-container"] {
	padding-left: rem(math.div(math.div($gutter, 2), 10));
	padding-right: rem(math.div(math.div($gutter, 2), 10));
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
	@media screen and (max-width: $media_table) {
		padding-left: rem(math.div($gutter, 10));
		padding-right: rem(math.div($gutter, 10));
	}
}

.bold {
	font-weight: 700;
}
.h1 {
	font-size: rem(5);
}

.h2 {
	font-size: rem(3.5);
}
.h1,
.h2 {
	line-height: 1.3;
}

.menu-btn {
	width: 30px;
	height: 30px;
	position: relative;
	z-index: 2;
	overflow: hidden;
	& span {
		width: 30px;
		height: 2px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		transform-origin: 50% 50%;
		background-color: #222222;
		transition: all 0.5s;
	}
	& span:nth-of-type(2) {
		top: calc(50% - 5px);
	}
	& span:nth-of-type(3) {
		top: calc(50% + 5px);
	}

	&-opened {
		position: fixed;
		& span {
			left: 0;
			&:nth-of-type(1) {
				opacity: 0;
			}
			&:nth-of-type(2) {
				transform: rotate(45deg);
				top: calc(50%);
			}
			&:nth-of-type(3) {
				transform: rotate(315deg);
				top: calc(50%);
			}
		}
	}
}
.header {
	display: grid;
	grid-template-columns: auto 1fr auto;
	grid-template-areas: "logo menu login";
	padding-top: rem(4.4);
	padding-bottom: rem(4.4);
	@media screen and (max-width: $media_desktop) {
	}
	@media screen and (max-width: $media_laptop) {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: 1fr;
		grid-template-areas: "logo menu_btn";
		align-items: center;
	}
	@media screen and (max-width: $media_table) {
	}
	&__logo {
		grid-area: logo;
		justify-self: start;
		align-self: start;
		margin-top: rem(0.7);
		@media screen and (max-width: $media_laptop) {
			align-self: center;
		}
		@media screen and (max-width: $media_table) {
		}
	}
	&__menu {
		grid-area: menu;
		justify-self: center;
		padding-left: rem(1.5);
		padding-right: rem(1.5);
		@media screen and (max-width: $media_laptop) {
			justify-self: center;
			position: fixed;
			width: 100%;
			height: 100%;
			background: white;
			top: 0;
			left: 0;
			z-index: 2;
		}
	}
	&__menu-btn {
		display: none;
		grid-area: menu_btn;
		@media screen and (max-width: $media_laptop) {
			display: block;
			align-self: center;
			justify-self: end;
			z-index: 99;
		}
	}
	&__login {
		grid-area: login;
		justify-self: end;
		gap: rem(3);
		display: flex;
		align-items: center;
		align-self: start;
		@media screen and (max-width: $media_laptop) {
			display: none;
		}
		@media screen and (max-width: $media_table) {
		}
	}
}
.menu {
	display: flex;
	flex-flow: row wrap;
	gap: rem(1) rem(4);
	padding-left: rem(1.5);
	padding-right: rem(1.5);

	list-style: none;
	font-weight: 400;
	@media screen and (max-width: $media_desktop) {
		padding-left: rem(0);
	}
	@media screen and (max-width: $media_laptop) {
		flex-flow: column nowrap;
		justify-content: start;
		align-items: center;
		height: 100%;
		overflow-y: auto;
		padding: rem(5) rem(5);
		row-gap: rem(2);
		font-size: rem(2);
	}
}

/* Welcome */
.welcome {
	padding-top: rem(4.5);
	padding-bottom: rem(4.5);
	position: relative;
	@media screen and (max-width: $media_laptop) {
		padding-top: rem(2);
		padding-bottom: rem(2);
	}
	&::after {
		content: "";
		position: absolute;
		background: url(../../public/assets/welcome.png) no-repeat;
		left: 52.8%;
		top: 50%;
		transform: translateY(-50%);
		width: 50%;
		padding-top: 31%;
		background-size: 100%;
		@media screen and (max-width: $media_laptop) {
			content: none;
		}
	}
	&__content {
		width: 50%;
		@media screen and (max-width: $media_laptop) {
			width: 100%;
			text-align: center;
		}
	}
	&__title {
		letter-spacing: rem(-0.05);
		margin-top: rem(2.8);
		margin-bottom: rem(2.8);
		font-weight: 500;
	}
	&__description {
		line-height: 1.7;
		letter-spacing: rem(-0.02);
		margin-bottom: rem(5.3);
	}
}

.our-stat {
	width: 95%;
	margin: auto;
	display: flex;
	align-items: center;
	border-radius: rem(1);
	margin-top: rem(8);
	box-shadow: 0px rem(5.5) rem(10) rem(-8) #888;
	@media screen and (max-width: $media_table) {
		justify-content: center;
	}
	&__list {
		align-items: center;
		list-style: none;
		width: 100%;
		display: grid;
		row-gap: rem(2.5);
		grid-template-columns: repeat(auto-fit, minmax(rem(15), 1fr));
		@media screen and (max-width: $media_table) {
			grid-template-columns: 1fr;
			row-gap: rem(1);
			width: 80%;
		}
		& > *:not(:first-child) {
			border-left: rem(0.2) solid #eeeff2;
			@media screen and (max-width: $media_table) {
				border-left: none;
				border-top: rem(0.2) solid #eeeff2;
			}
		}
	}
	&__item {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
.item-our-stat {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: rem(3.5);
	padding-top: rem(5.5);
	padding-bottom: rem(5.5);
	@media screen and (max-width: $media_laptop) {
		flex-direction: column;
		text-align: center;
	}
	@media screen and (max-width: $media_table) {
		padding-top: rem(1.5);
		padding-bottom: rem(1.5);
	}
	&__content {
		display: flex;
		flex-direction: column;
		gap: rem(1.5);
		max-width: rem(17);
	}
	&__icon {
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 100%;
		background-color: #ffecec;
		color: #f53838;
		width: rem(5.5);
		height: rem(5.5);
	}
	&__count {
		font-size: rem(2.5);
		&::after {
			content: "+";
		}
	}
	&__entity {
		font-weight: 400;
		font-size: rem(2);
		text-transform: capitalize;
	}
}

.provide {
	display: grid;
	justify-content: end;
	width: 100%;
	padding-top: rem(13);
	padding-bottom: rem(13);
	grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
	align-items: center;
	@media screen and (max-width: $media_table) {
		grid-template-columns: 1fr;
	}
	&::before {
		content: "";
		background-image: url(/public/assets/provide.png);
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		width: 100%;
		height: 100%;
		align-self: start;
		@media screen and (max-width: $media_table) {
			content: none;
		}
	}
	&__content-wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		justify-self: end;
	}
	&__content {
		max-width: rem(43);
		@media screen and (max-width: $media_table) {
			max-width: 100%;
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(2, 1fr);
			justify-items: center;
			align-items: center;
		}
	}
	&__title {
		@media screen and (max-width: $media_table) {
			text-align: center;
			grid-column: 1 / 3;
			grid-row: 1;
		}
	}
	&__description {
		line-height: 1.6;
		word-spacing: -2px;
		font-weight: 400;
		@media screen and (max-width: $media_table) {
			grid-row: 2;
			grid-column: 1 / 2;
		}
	}
	&__list {
		padding-top: rem(0.8);
		list-style: none;
		display: flex;
		flex-direction: column;
		gap: rem(2.2);
		@media screen and (max-width: $media_table) {
			grid-row: 2;
			grid-column: 2 / 3;
		}
	}
	&__item {
		font-weight: 400;
		font-size: rem(1.4);
		display: flex;
		align-items: center;
		&::before {
			content: "";
			background-image: url("../../public/assets/success-check.png");
			background-repeat: no-repeat;
			background-size: contain;
			padding-left: rem(2.4);
			padding-top: rem(2.4);
		}
	}
}

.plan {
	background-color: #f6f6f6;
	padding-top: rem(3.6);
	padding-bottom: rem(3.6);
	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__title {
		line-height: 1.2;
	}
	&__description {
		width: rem(55.5);
		color: #4f5665;
		font-weight: 400;
		text-align: center;
		line-height: 1.7;
		margin-bottom: rem(3);
		@media screen and (max-width: $media_table) {
			width: 100%;
		}
	}
	&__content {
		padding-top: rem(3);
		padding-bottom: rem(3);
		width: 100%;
	}
	&__list {
	}
}

.plan-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: rem(5);
	&__item {
		background: #ffffff;
		border: rem(0.2) solid #dddddd;
		border-radius: rem(1);
		width: rem(33);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		gap: rem(14);
		padding: rem(6.1) rem(6);

		&:hover {
			border: rem(0.2) solid $accent;
		}
		&:hover .plan-list__btn-select {
			@extend .btn-shadow;
			color: white;
			background-color: $accent;
		}
		@media screen and (max-width: $media_desktop) {
			width: auto;
			gap: rem(10);
			padding: rem(3);
		}
		@media screen and (max-width: $media_table) {
			gap: rem(2.5);
		}
	}
	&__info-product {
	}

	&__block-select {
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		gap: rem(2);
	}
	&__price {
		font-weight: 500;
		font-size: rem(2.5);
		text-transform: capitalize;
		text-align: center;
		&::after {
			content: attr(data-period);
			font-style: normal;
			padding-left: rem(0.6);
			font-weight: 400;
			text-transform: none;
		}
	}
	&__btn-select {
		font-weight: 700;
		font-size: rem(1.6);
		text-transform: capitalize;
		padding: rem(1.3) rem(6.2);
	}
}
.info-product {
	display: flex;
	flex-flow: column nowrap;

	&__img {
		width: rem(12);
		height: rem(15);
		align-self: center;
	}
	&__title {
		font-weight: 500;
		font-size: rem(1.8);
		margin: rem(3.6) auto;
		text-transform: capitalize;
	}
	&__list {
		display: flex;
		margin-top: rem(0.5);
		flex-flow: column nowrap;
		gap: rem(2.4);
		list-style-position: inside;
	}
	&__item {
		font-weight: 400;
		font-size: rem(1.4);
		padding-left: rem(1.7);
		display: flex;
		align-items: center;
		&::before {
			content: url("../../public/assets/check.png");
			margin-right: rem(2);
		}
	}
}

.location {
	padding-top: rem(5.7);
	padding-bottom: rem(5.7);
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	text-align: center;
	&__title {
		max-width: rem(38);
		padding-bottom: rem(1.5);
	}
	&__description {
		padding-top: rem(1.5);
		padding-bottom: rem(1.5);
		max-width: rem(55.5);
		font-weight: 400;
		font-size: rem(1.6);
		color: #4f5665;
		line-height: 1.6;
	}
	&__content {
		padding-top: rem(1.5);
		padding-bottom: rem(1.5);
	}
	&__map {
		margin-top: rem(13);
		@media screen and (max-width: $media_desktop) {
			margin-top: auto;
		}
	}
}
.map {
	position: relative;
	&__img {
		max-width: 100%;
		object-fit: cover;
	}
	&__point {
		--size: 37px;
		--border-size: 6px;
		position: absolute;
		top: 28.4%;
		left: 71.7%;
		width: var(--size);
		height: var(--size);
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

.company {
	padding-top: rem(4.5);
	padding-bottom: rem(4.5);
	&__list {
		display: flex;
		gap: rem(6);
		list-style: none;
		justify-content: center;
	}
	&__item {
	}
	&__img {
		display: block;
		margin: auto;
		object-fit: contain;
		object-position: center;
		max-width: 100%;
		width: rem(20);
		height: rem(11.2);
	}
}

.feedback {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;

	// padding-top: rem(0.8);
	text-align: center;
	&__title {
		max-width: rem(45);
	}
	&__description {
		padding-bottom: rem(1.5);
		max-width: rem(55.5);
		font-weight: 400;
		font-size: rem(1.6);
		color: #4f5665;
		line-height: 1.6;
	}
	&__content {
		width: 100%;
	}
	&__slider-control {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: rem(6) auto;
	}
	&__swiper-pagination {
		--swiper-pagination-bullet-size: 15px;
		height: rem(1.5);
		display: inline-flex;
		align-items: center;
		& * {
			transition: 0.5s ease-in-out;
		}
	}
	&__swiper-arrows {
		display: inline-flex;
		column-gap: rem(2);
	}
	&__swiper-arrow {
		--size-arrow: 60px;
		font-size: rem(2);
		display: flex;
		align-items: center;
		justify-content: center;
		background: white;
		border: 1px solid $accent;
		border-radius: 100%;
		width: var(--size-arrow);
		height: var(--size-arrow);
		color: $accent;
		&:hover {
			background: $accent;
			color: white;
		}
		&__back {
			transform: rotate(180deg);
		}
	}
}
#root-feedback-slider {
	// width: 100%;
}
.swiper-wrapper {
}
.swiper-pagination-bullets.swiper-pagination-horizontal {
	width: auto;
}

.swiper-pagination-bullet-active {
	width: rem(4.5);
	// height: rem(1.5);
	border-radius: rem(5);
	background: $accent;
}

.card-feedback {
	max-width: rem(40);
	min-height: 230px;
	background: #ffffff;
	border: 2px solid #f53838;
	border-radius: 10px;
	padding: rem(1.5) rem(3);
	display: grid;
	grid-template-columns: rem(5) auto 1fr;
	grid-template-rows: repeat(2, auto);
	column-gap: rem(2);
	justify-items: start;
	align-items: center;
	text-align: start;
	@media screen and (max-width: $media_table) {
		margin: auto;
	}
	&__user-avatar {
	}
	&__avatar-img {
		width: rem(5);
		height: rem(5);
		object-fit: cover;
		object-position: center;
		border-radius: 100%;
		align-self: center;
	}
	&__user-info {
		justify-self: start;
	}
	&__name {
		font-weight: 500;
		font-size: rem(1.8);
		line-height: 1.5;
	}
	&__from {
		font-style: normal;
		font-weight: 400;
		font-size: rem(1.4);
		color: #4f5665;
		text-align: start;
	}
	&__user-rate {
		justify-self: end;
		align-self: center;
	}
	&__content {
		grid-column: 1/-1;
		grid-row: 2/3;
		font-weight: 400;
		font-size: 16px;
		color: #0b132a;
		margin: 0;
		align-self: start;
		justify-self: start;
		text-align: start;
		line-height: 1.7;
	}
}
.rate {
	white-space: nowrap;
	&::after {
		content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14' fill='none'%3E%3Cpath d='M13.1891 5.41802L9.22187 4.84146L7.44844 1.24615C7.4 1.14771 7.32031 1.06802 7.22187 1.01959C6.975 0.897711 6.675 0.999273 6.55156 1.24615L4.77812 4.84146L0.810936 5.41802C0.701561 5.43365 0.601561 5.48521 0.524999 5.56334C0.432439 5.65847 0.381434 5.78646 0.383192 5.91918C0.38495 6.0519 0.439327 6.1785 0.534374 6.27115L3.40469 9.06959L2.72656 13.0211C2.71066 13.1131 2.72083 13.2076 2.75592 13.294C2.79102 13.3805 2.84963 13.4554 2.92511 13.5102C3.00059 13.565 3.08992 13.5976 3.18297 13.6042C3.27602 13.6108 3.36907 13.5913 3.45156 13.5477L7 11.6821L10.5484 13.5477C10.6453 13.5993 10.7578 13.6165 10.8656 13.5977C11.1375 13.5508 11.3203 13.293 11.2734 13.0211L10.5953 9.06959L13.4656 6.27115C13.5437 6.19459 13.5953 6.09459 13.6109 5.98521C13.6531 5.71177 13.4625 5.45865 13.1891 5.41802Z' fill='%23FEA250'/%3E%3C/svg%3E");
		/* width: auto;
		height: auto; */
		margin-left: rem(1);
	}
}

.action-subscribe {
	padding-top: rem(0.9);
	padding-bottom: rem(5);
	width: 100%;
	background: linear-gradient(#f6f6f6 50%, #f8f8f8 50%);
	@media screen and (max-width: $media_table) {
		padding-bottom: rem(2.5);
	}
	&__container {
		border-radius: rem(1);
		display: grid;
		background-color: white;
		grid-template-areas: "header button";
		grid-template-rows: 1fr;
		grid-template-columns: rem(37.5) 1fr;
		align-items: center;
		padding: rem(5.4) rem(7);
		box-shadow: 0px rem(3) rem(4) rem(-3) rgb(13 16 37 / 30%);
		@media screen and (max-width: $media_laptop) {
			grid-template-areas: "header" "button";
			grid-template-columns: 1fr;
			grid-template-rows: repeat(2, 1fr);
			justify-items: center;
			row-gap: rem(5);
		}
		@media screen and (max-width: $media_table) {
			padding: rem(3) rem(3);
		}
	}
	&__header {
		grid-area: header;
	}
	&__title {
		margin: 0;
		word-spacing: rem(-0.39);
	}

	&__decription {
		font-weight: 400;
		font-size: rem(1.6);
		color: #4f5665;
		line-height: 1.6;
		padding-top: rem(0.6);
	}
	&__btn {
		grid-area: button;
		justify-self: end;
		@media screen and (max-width: $media_laptop) {
			justify-self: initial;
		}
	}
}
/* 
.footer {
	word-wrap: break-word;
	padding-bottom: rem(3);
	background-color: #f8f8f8;
	&__wrapper {
		display: flex;
		justify-content: space-between;
	}
	&__about {
		width: rem(34);
		font-weight: 400;
	}
	&__lists-menu {
		display: flex;
		gap: rem(12.6);
		@media screen and (max-width: $media_laptop) {
			gap: rem(5);
		}
	}
}
.footer-container {
	padding-top: rem(1.4);
}
.about-footer {
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-start;
	gap: rem(3);

	&__logo {
	}
	&__description {
		margin-top: rem(-1);
		line-height: 1.6;
	}
	&__social {
	}
	&__copyrigth {
		color: #afb5c0;
		font-weight: 400;
	}
}

.list-menu {
	max-width: rem(12.4);
	margin-top: rem(1);
	&__title {
		margin: 0;
		font-size: rem(1.8);
	}
	&__ul {
		display: flex;
		flex-flow: column nowrap;
		gap: rem(2);
		padding-top: rem(1.5);
		list-style: none;
	}
	&__li {
		&::first-letter {
			text-transform: uppercase;
		}
	}
	&__link {
	}
}

.social-button svg {
	width: 16px;
} */

.footer {
	word-wrap: break-word;
	padding-top: rem(3);
	padding-bottom: rem(3);
	background-color: #f8f8f8;
	&__wrapper {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
		@media screen and (max-width: $media_table) {
			row-gap: 40px;
		}
	}
	&__about {
		order: -1;
		justify-items: start;
		font-weight: 400;
		padding-right: 20px;
		width: 350px;
		display: flex;
		flex-flow: column nowrap;
		row-gap: rem(2.5);
		@media screen and (max-width: $media_table) {
			order: initial;
			width: 100%;
			padding-right: initial;
		}
	}
	&__lists-menu {
		display: grid;
		grid-template-columns: repeat(auto-fit, min(100%, 124px));
		justify-content: space-between;
	}
}
.footer-container {
	padding-top: rem(1.4);
}
.about-footer {
	&__logo {
	}
	&__description {
		margin-top: rem(-1);
		line-height: 1.6;
	}
	&__social {
		display: flex;
		justify-content: start;
		column-gap: rem(2);
	}
	&__copyrigth {
		color: #afb5c0;
		font-weight: 400;
	}
}

.list-menu {
	max-width: 124px;
	&__title {
		margin: 0;
		font-size: rem(1.8);
	}
	&__ul {
		list-style: none;
		display: flex;
		flex-flow: column nowrap;
		row-gap: 10px;
	}
	&__li {
		&::first-letter {
			text-transform: uppercase;
		}
	}
	&__link {
	}
}

.social-button {
	width: rem(3.36);
	height: rem(3.36);
	background: white;
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	& svg {
		width: rem(1.6);
		fill: $accent;
	}
}
.icon-twiter svg {
	width: rem(2.5);
}
.hidden {
	visibility: none;
}
.none {
	display: none;
}
